* {
  --white-transparent: rgba(255, 255, 255, 0.87);
  --white-100: #F5F5F5;
  --white-200: #e9e9e9;
  --black-300: #242424;
  --blue-light: #176FF6;
  --blue-100: #2A3849;
  --blue-200: #182237;
  --blue-300: #111827;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  color: var(--white-100);
  background-color: var(--blue-300);
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}